[run]
# Include only files from the "inventory" app
source = inventory

[report]
# Exclude certain files or lines from the coverage report
omit =
    */migrations/*
    */scripts/*

# Exclude specific lines of code (e.g., for pragma: no cover)
exclude_lines =
    # Don't cover the standard pragma
    pragma: no cover
    # Don't cover `if` blocks that are always true/false during testing
    if __name__ == "__main__":
    if settings.DEBUG:
